<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398365024525-6itvfe89p58t30f12g672b3j6krj1bla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398365024525-6itvfe89p58t30f12g672b3j6krj1bla</string>
	<key>API_KEY</key>
	<string>AIzaSyD70_KIiNtToPgyXXCv3QriAdzC7xT-els</string>
	<key>GCM_SENDER_ID</key>
	<string>398365024525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capelabs.gpstrackerTest</string>
	<key>PROJECT_ID</key>
	<string>neat-tempo-232110</string>
	<key>STORAGE_BUCKET</key>
	<string>neat-tempo-232110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398365024525:ios:c6d5e667aca1752c</string>
	<key>DATABASE_URL</key>
	<string>https://neat-tempo-232110.firebaseio.com</string>
</dict>
</plist>